<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - shop_web_app</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-utilities.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/shop_web_app.styles.css" asp-append-version="true" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Clothing Shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Product" asp-action="Index" asp-route-page=1 class="nav-link">Produkty</a>
                    </li>
                    @if(User.IsInRole("admin") || User.IsInRole("employee"))
                    {
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Order" asp-action="Index" class="nav-link">Zamówienia</a>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav ms-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item px-2">
                            <a asp-area="" asp-controller="Cart" asp-action="Index" class="nav-link">Twój koszyk <i class="bi bi-cart"></i></a>
                        </li>
                        <li class="nav-item px-2">
                            <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="nav-link">Konto <i class="bi bi-person"></i></a>
                        </li>
                        <li class="nav-item px-2">
                            <a asp-area="" asp-controller="Account" asp-action="Logout" class="btn btn-outline-danger">Wyloguj się</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item px-2">
                            <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-primary">Zaloguj się</a>
                        </li>
                        <li class="nav-item px-2">
                            <a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-outline-secondary">Załóż konto</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>


    <div class="container mt-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - shop_web_app - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/CreateHelper.js"></script>
    <script src="~/js/ProductDetailsHelper.js"></script>
    <script src="~/js/CreateOrderHelper.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
