@using shop_web_app.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Viewer3DViewModel



<script type="module" src="~/js/Viewer3D.js"></script>
<style>
    .lil-gui {
        position: fixed !important;
        top: 60px !important;
        right: 10px !important;
        z-index: 9999 !important;
        opacity: 1 !important;
        display: block !important;
    }

    canvas {
        z-index: 0;
    }
</style>

<div id="info" class="position-absolute top-0 text-light" style="margin-top: 80px;">
    <h1>Zapoznaj się z naszym produktem: @Model.Product.Name</h1>
    <blockquote class="blockquote">Obejrzyj go z każdej strony!</blockquote>
</div>
<script>
    const modelData = @Html.Raw(Json.Serialize(Model.Product));
</script>




