@{
    ViewData["Title"] = "Moda dla każdego";
}

<body>
    
    <main>
        <section class="py-5 text-center bg-image position-relative" style="background-image: url('https://images.pexels.com/photos/1549200/pexels-photo-1549200.jpeg'); background-size: cover; background-position: center; background-repeat: no-repeat; width: 100vw; margin-top: -20px; margin-left: calc(50% - 50vw); min-height: 900px;">
            <div class="overlay"></div>

            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="text-dark display-4 fw-normal" style="padding-top: 150px;">Zanurz się w świecie mody</h1>
                <p class="lead fw-normal">Zobacz naszą ofertę - dokładnie to samo co rok oraz dwa lata temu i to pomimo okrojonego budżetu!</p>
                <a class="btn btn-dark btn-lg" asp-area="" asp-controller="Product" asp-action="Index">Zobacz katalog</a>
            </div>
        </section>

        <div class="container marketing">

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Dopasowujemy się pod wasze wymagania</h2>
                    <p class="lead">Planujesz jakieś wyjście? Koniecznie zobacz sukienki damskie: mamy fasony mini, midi i maxi na letnie wieczory, a także stylowe dżinsy i spodnie, które świetnie leżą na każdej sylwetce.</p>
                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://images.pexels.com/photos/16633042/pexels-photo-16633042.jpeg">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">Zimowa elegancja</h2>
                    <p class="lead">Odśwież codzienną garderobę perełkami z naszej kolekcji. Teraz znajdziesz w jednym miejscu wszystko, co najmodniejsze – od codziennej bazy, takiej jak spódnice i topy damskie, po dzianiny i odzież domową. </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://images.pexels.com/photos/11855637/pexels-photo-11855637.jpeg">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Moda dla każdego - również dla Ciebie!</h2>
                    <p class="lead">Planujesz jakieś wyjście? Koniecznie zobacz sukienki damskie: mamy fasony mini, midi i maxi na letnie wieczory, a także stylowe dżinsy i spodnie, które świetnie leżą na każdej sylwetce.</p>
                </div>
                <div class="col-md-5">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://images.pexels.com/photos/14887042/pexels-photo-14887042.jpeg">
                </div>
            </div>

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->
    </main>
</body>
